{
  "extends": "@pancakeswap-libs/eslint-config-pancake",
  "rules": {
    "react/require-default-props": "off",
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [
          "src/setupTests.[jt]s?(x)",
          "src/testHelpers.[jt]s?(x)",
          "**/*.test.[jt]s?(x)",
          "rollup.config.js"
        ]
      }
    ]
  }
}
